@import 'global.scss';
.light-background {
	background: #f1f1f1;
}
.main-banner {
	height: 600px;
	position: relative;
	.slide-fade {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		> div {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			.inner {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-size: cover !important;
				background-position: center center !important;
			}
		}
	}
}
.main-contact {
	background: $siteColor;
	text-align: center;
	color: #ffffff;
	.media-body {
		padding: 40px 0;
		h4 {
			font-size: 22px;
		}
		h6 {
			font-size: 20px;
			color: #ffffff;
			a {
				color: #ffffff;
			}
		}
	}
}
.main-gioithieu {
	padding: 0 0 50px;
	h2 {
		padding: 50px 0 20px;
	}
}
.main-sanpham-home {
	padding: 50px 0;
	h2 {
		padding: 0 0 50px;
	}
}
.main-tintuc {
	h2 {
		padding: 20px 0 20px;
	}
}
.main-feedback {
	h2 {
		padding: 50px 0 20px;
	}
}
.main-doitac {
	padding: 50px 0 80px;
	margin-bottom: 50px;
	h2 {
		padding: 0 0 20px;
	}
}
footer {
	padding-top: 50px;
}

.more {
	text-align: center;
	margin-top: 50px;
	a {
		display: inline-block;
		width: 300px;
		max-width: 100%;
		background: $siteColor;
		color: #ffffff;
		border-color: $siteColor;
	}
}
.fb_title {
	margin-top: 15px;
}
.slide_item img {
}
.owl-carousel .owl-stage {
	display: flex;
	align-items: center;
}
.sitemap {
	li {
		padding-bottom: 10px;
		a {
			padding-left: 5px;
		}
	}
}
.contact {
	li {
		padding-bottom: 10px;
		i {
			padding-right: 20px;
		}
	}
}
.address {
	padding: 0 0 20px;
}
.pagination {
	display: flex;
	> * {
		margin: 0;
		width: 35px;
		height: 35px;
		border-radius: 5px;
		border: 1px solid $siteColor;
		color: $siteColor;
		text-align: center;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding-top: 7px;
		+ * {
			margin-left: 5px;
		}
		&.current {
			background: $siteColor;
			color: #ffffff;
		}
	}
	a {
		&:hover {
			background: $siteColor;
			color: #ffffff;
		}
	}
}
.main-breac {
	div {
		> span {
			a {
				span {
					color: #000000;
				}
			}
			span {
				color: $siteColor;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.main-banner {
		height: 400px;
	}
	.main-contact {
		.media-body {
			padding: 20px 10px;
		}
	}
	.ft_logo {
		text-align: center;
		margin: 0 auto;
	}
	.block-footer-center {
		> div {
			> div {
				margin-bottom: 20px;
			}
		}
	}
}
