.light-background {
  background: #f1f1f1; }

.main-banner {
  height: 600px;
  position: relative; }
  .main-banner .slide-fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    .main-banner .slide-fade > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      .main-banner .slide-fade > div .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover !important;
        background-position: center center !important; }

.main-contact {
  background: #ed1b24;
  text-align: center;
  color: #ffffff; }
  .main-contact .media-body {
    padding: 40px 0; }
    .main-contact .media-body h4 {
      font-size: 22px; }
    .main-contact .media-body h6 {
      font-size: 20px;
      color: #ffffff; }
      .main-contact .media-body h6 a {
        color: #ffffff; }

.main-gioithieu {
  padding: 0 0 50px; }
  .main-gioithieu h2 {
    padding: 50px 0 20px; }

.main-sanpham-home {
  padding: 50px 0; }
  .main-sanpham-home h2 {
    padding: 0 0 50px; }

.main-tintuc h2 {
  padding: 20px 0 20px; }

.main-feedback h2 {
  padding: 50px 0 20px; }

.main-doitac {
  padding: 50px 0 80px;
  margin-bottom: 50px; }
  .main-doitac h2 {
    padding: 0 0 20px; }

footer {
  padding-top: 50px; }

.more {
  text-align: center;
  margin-top: 50px; }
  .more a {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    background: #ed1b24;
    color: #ffffff;
    border-color: #ed1b24; }

.fb_title {
  margin-top: 15px; }

.owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.sitemap li {
  padding-bottom: 10px; }
  .sitemap li a {
    padding-left: 5px; }

.contact li {
  padding-bottom: 10px; }
  .contact li i {
    padding-right: 20px; }

.address {
  padding: 0 0 20px; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .pagination > * {
    margin: 0;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ed1b24;
    color: #ed1b24;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 7px; }
    .pagination > * + * {
      margin-left: 5px; }
    .pagination > *.current {
      background: #ed1b24;
      color: #ffffff; }
  .pagination a:hover {
    background: #ed1b24;
    color: #ffffff; }

.main-lienhe {
  padding-top: 50px; }
  .main-lienhe .editer i {
    padding-right: 20px;
    color: #ed1b24; }
  .main-lienhe .editer a {
    color: #ed1b24; }

.main-breac div > span a span {
  color: #000000; }

.main-breac div > span span {
  color: #ed1b24; }

.slogan {
  text-align: center;
  color: #ed1b24;
  font-size: 25px;
  line-height: 1.5em;
  padding-top: 30px; }

@media screen and (max-width: 767px) {
  .main-banner {
    height: 400px; }
  .main-contact .media-body {
    padding: 20px 10px; }
  .ft_logo {
    text-align: center;
    margin: 0 auto; }
  .block-footer-center > div > div {
    margin-bottom: 20px; } }
/*# sourceMappingURL=custom.css.map */