a {
  moz-transition: all .3s;
  ms-transition: all .3s;
  o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  webkit-transition: all .3s; }
  a:hover {
    text-decoration: none !important; }
  a:active {
    text-decoration: none !important; }
  a:focus {
    text-decoration: none !important; }

img {
  max-width: 100%; }

body {
  font-size: 15px;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  right: 0px;
  position: relative; }
  body p {
    font-size: 15px;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif; }

.clear60 {
  clear: both;
  height: 60px; }

.clear40 {
  clear: both;
  height: 40px; }

.clear20 {
  clear: both;
  height: 20px; }

.clear10 {
  clear: both;
  height: 10px; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.nopadding {
  padding: 0 !important; }

.nomargin {
  margin: 0; }

.fullwidth {
  width: 100%; }

.clwhite {
  color: #fff; }

.clblack {
  color: #000; }

.bold {
  font-weight: 700; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-bw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.show1199 {
  display: none; }

.show991 {
  display: none; }

.show767 {
  display: none; }

.show480 {
  display: none; }

.row:before {
  content: unset; }

.editer img {
  height: auto !important; }

.editer p {
  margin-bottom: 10px; }

.header-top {
  background: #ed1b24; }
  .header-top * {
    color: #fff; }
  .header-top .reserve-header {
    min-height: 41px; }

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.langguage {
  margin-left: 20px;
  position: relative;
  padding: 10px 0; }
  .langguage .ul-lang {
    border-radius: 0;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    margin: 0;
    right: 0;
    left: unset; }

.country i {
  margin-right: 5px; }

.ul-lang {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 120px;
  border: 1px solid #ccc;
  border-top: 0;
  list-style-type: none;
  padding: 0;
  display: none; }
  .ul-lang > li > a {
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 7px 10px;
    color: #000;
    text-align: center;
    font-size: 14px; }
  .ul-lang > li:last-child > a {
    border: none; }
  .ul-lang > li:hover > a {
    background: #f1f1f1; }

.cart-search {
  width: 85px; }
  .cart-search a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #000; }

.ul-main-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 444px); }
  .ul-main-menu > li > a {
    display: inline-block;
    padding: 10px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase; }
  .ul-main-menu > li:hover > a {
    color: #ed1b24; }

.logo {
  display: block;
  width: 90px; }

.ft_logo {
  display: block;
  width: 150px; }

.cart-head {
  margin-right: 15px;
  position: relative; }
  .cart-head span {
    position: absolute;
    right: -7px;
    top: -7px;
    background: #ed1b24;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff; }

.header-bototm {
  padding: 10px 0; }

.has-sub {
  position: relative; }
  .has-sub > a > i {
    margin-left: 3px; }
  .has-sub:hover .ul-sub-menu {
    display: block; }

.ul-sub-menu {
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 10px;
  min-width: 200px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ccc;
  display: none; }
  .ul-sub-menu > li > a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #000; }
  .ul-sub-menu > li:last-child > a {
    border-bottom: unset; }
  .ul-sub-menu > li.has-sub-2 > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.has-sub-2 {
  position: relative; }
  .has-sub-2:hover .ul-sub-menu-2 {
    display: block; }

.ul-sub-menu-2 {
  position: absolute;
  z-index: 9999;
  top: -1px;
  left: 100%;
  min-width: 200px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ccc;
  display: none; }
  .ul-sub-menu-2 > li > a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #000; }
  .ul-sub-menu-2 > li:last-child > a {
    border-bottom: unset; }
  .ul-sub-menu-2 > li.has-sub-3 > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.has-sub-3 {
  position: relative; }
  .has-sub-3:hover .ul-sub-menu-3 {
    display: block; }

.ul-sub-menu-3 {
  position: absolute;
  z-index: 9999;
  top: -1px;
  left: 100%;
  min-width: 200px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ccc;
  display: none; }
  .ul-sub-menu-3 > li > a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #000; }
  .ul-sub-menu-3 > li:last-child > a {
    border-bottom: unset; }
  .ul-sub-menu-3 > li.has-sub-4 > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.has-sub-4 {
  position: relative; }
  .has-sub-4:hover .ul-sub-menu-4 {
    display: block; }

.ul-sub-menu-4 {
  position: absolute;
  z-index: 9999;
  top: -1px;
  left: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ccc;
  display: none; }
  .ul-sub-menu-4 > li > a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #000;
    white-space: nowrap; }
  .ul-sub-menu-4 > li:last-child > a {
    border-bottom: unset; }

.main-dangky {
  background: #3b4859;
  padding: 20px 0; }

.left-dangky {
  margin-right: 30px; }
  .left-dangky h4 {
    margin-bottom: 5px; }

.right-dangky {
  width: 400px; }

.form-dangky {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .form-dangky > input {
    height: 38px;
    padding: 6px 12px;
    width: calc(100% - 100px);
    border: none;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    background: none;
    color: #fff;
    outline: unset; }
  .form-dangky > button {
    border: none;
    border-left: 1px solid #666;
    width: 100px;
    height: 38px;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: none;
    outline: unset; }
  .form-dangky::-webkit-input-placeholder {
    color: #fff; }
  .form-dangky:-ms-input-placeholder {
    color: #fff; }
  .form-dangky::-ms-input-placeholder {
    color: #fff; }
  .form-dangky::placeholder {
    color: #fff; }

.clred {
  color: #ed1b24; }

.main-sanpham-home {
  padding: 20px 0; }

.tab-sanpham .nav-tabs {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .tab-sanpham .nav-tabs > li > a {
    margin: 0;
    border: none !important;
    border-radius: 0;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    border: none !important;
    padding: 0 20px;
    background: none !important; }
  .tab-sanpham .nav-tabs > li:last-child > a {
    border-left: 1px solid #ddd !important; }

.bestseller {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: -3px;
  display: block;
  font-weight: 400; }

.line {
  height: 40px;
  background: url(../img/line.png) center center no-repeat; }

.eff-scale {
  display: block;
  overflow: hidden; }
  .eff-scale img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 225px;
    -o-object-fit: cover;
       object-fit: cover; }
  .eff-scale:hover img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.sidebar .eff-scale img {
  height: 165px; }

.img-product {
  position: relative; }

.hot {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9; }

.product-outer {
  margin-bottom: 30px; }

.product-items {
  border: 1px solid #ccc;
  padding: 10px;
  height: 100%;
  position: relative; }

.date {
  color: #727272;
  font-size: 15px;
  padding-top: 15px;
  display: inline-block; }

.product-items .excerpt {
  padding: 0 0 50px; }

.product-items .buy-now {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px; }

.product-name {
  font-weight: 700;
  font-size: 18px;
  display: block;
  margin: 10px 0; }
  .product-name a {
    color: #000; }
    .product-name a:hover {
      color: #ed1b24 !important; }

.gia-sp {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px; }
  .gia-sp span {
    color: #ed1b24;
    text-transform: uppercase; }

.buy-now {
  display: block;
  border: solid 1px #ddd;
  border-radius: 100px;
  text-align: center;
  color: #ed1b24;
  text-transform: uppercase;
  padding: 7px 10px; }
  .buy-now i {
    margin-right: 10px; }

.main-bosuutap {
  margin-bottom: 50px; }

.des-bst {
  text-align: center;
  margin-bottom: 30px; }

.block-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .block-design img {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover; }

.top-desgin {
  position: absolute;
  top: 20px;
  z-index: 9; }
  .top-desgin p {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0;
    text-align: center; }

.center-design {
  position: absolute;
  z-index: 9; }
  .center-design a {
    border: solid 1px white;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    border-radius: 10px; }
    .center-design a i {
      margin-left: 10px; }

.avatar-cus {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px; }

.main-feedback {
  position: relative; }

.main-doitac {
  margin-top: 100px;
  margin-bottom: 30px; }

footer {
  background: #ed1b24; }
  footer * {
    color: #fff !important; }

.item-camket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.icon-camket {
  width: 40px;
  margin-right: 20px; }

.text-camket {
  width: calc(100% - 60px); }
  .text-camket > p:first-child {
    margin-bottom: 5px; }

.tit-ft {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px; }

.ul-ft {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.block-footer-center {
  padding: 0 0 20px; }

.block-add {
  border-right: 1px solid #fff; }

.noborder {
  border: none; }

.main-breac {
  background: #f3f3f3;
  padding: 10px 0; }

.tit-page {
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }

.tit-gt {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #ed1b24;
  margin: 0;
  margin-bottom: 20px; }

.italic {
  font-style: italic; }

.lich-su-hinh-thanh {
  background: #ddd; }

.year-lsht {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px; }

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.img-lsht {
  width: 180px;
  margin-right: 10px; }
  .img-lsht img {
    height: 135px;
    -o-object-fit: cover;
       object-fit: cover; }

.content-lsht {
  width: calc(100% - 190px); }

.block-lsht {
  margin-bottom: 30px; }

.mgbt15 {
  margin: 0;
  margin-bottom: 15px; }

.img-brand {
  margin: 10px 0; }

.cong-nghe-san-xuat {
  background: #ddd; }

.item-ttsp {
  margin-bottom: 20px; }

.tit-aside {
  background: #ed1b24;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0; }

.ul-aside {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .ul-aside > li {
    border-bottom: 1px solid #ccc; }
    .ul-aside > li > a {
      display: block;
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px 20px; }
      .ul-aside > li > a:hover {
        color: #e47717; }

.ul-sub-aside {
  list-style-type: none;
  padding: 0 0 0 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
  list-style-type: none;
  padding: 0 0 0 20px; }
  .ul-sub-aside > li {
    border-bottom: 1px solid #ccc; }
    .ul-sub-aside > li > a {
      display: block;
      color: #000;
      text-transform: uppercase;
      padding: 10px 20px; }
      .ul-sub-aside > li > a > i {
        margin-right: 10px; }
      .ul-sub-aside > li > a:hover {
        color: #e47717; }
    .ul-sub-aside > li:last-child {
      border: none; }

.pagi-page {
  text-align: center;
  padding: 15px 0; }
  .pagi-page a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #ccc;
    color: #000;
    width: 30px;
    height: 30px; }
    .pagi-page a:hover {
      background: #000;
      color: #fff; }
  .pagi-page a.active {
    background: #000;
    color: #fff; }

.slider-spct .lSSlideOuter .lightSlider li {
  text-align: center;
  padding: 20px; }

.slider-spct .lSSlideOuter .lSPager.lSGallery {
  margin-top: 15px !important; }
  .slider-spct .lSSlideOuter .lSPager.lSGallery li {
    padding: 5px 20px;
    border: 1px solid #ccc; }

.slider-spct .lSSlideWrapper {
  border: 1px solid #ccc; }

.tit-pro {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: solid 1px #dadada;
  margin-bottom: 20px;
  display: block;
  margin-top: 0px;
  font-weight: 700;
  padding-bottom: 10px; }

.des-mota {
  border-bottom: solid 1px #dadada;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.color-sp {
  border: 3px solid #fff;
  display: inline-block;
  cursor: pointer; }

.color-sp.active {
  border: 3px solid #ed1b24; }

.mausac {
  border-bottom: solid 1px #dadada;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.chatlieu {
  border-bottom: solid 1px #dadada;
  margin-bottom: 20px;
  padding-bottom: 5px; }

.plabel {
  margin-bottom: 5px; }

.ochotuong {
  border-bottom: solid 1px #dadada;
  margin-bottom: 20px;
  padding-bottom: 5px; }

.soluong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ccc;
  width: 125px; }

.spct-sl-add .soluong {
  margin: 0; }

.btn-minus {
  border: none;
  background: none;
  outline: unset;
  width: 100%;
  font-size: 10px;
  height: 31px; }

.btn-plus {
  border: none;
  background: none;
  outline: unset;
  width: 100%;
  font-size: 10px;
  height: 31px; }

.ip-soluong {
  width: 50px;
  text-align: center;
  border: none;
  padding: 5px 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.giasp {
  width: calc(100% - 125px);
  padding-left: 10px;
  font-size: 16px; }

.giaofsp {
  border-bottom: solid 1px #dadada;
  margin-bottom: 20px;
  padding-bottom: 20px; }

.note {
  font-style: italic;
  font-weight: 700;
  margin-top: 15px; }

.dathang {
  display: inline-block;
  color: #fff !important;
  padding: 5px 15px;
  display: inline-block;
  background: #293744;
  margin-right: 10px; }
  .dathang i {
    margin-right: 10px; }

.group-button {
  margin-bottom: 20px; }
  .group-button .dathang:last-child {
    margin-right: 0; }

.title-ctsp {
  font-size: 16px;
  background: #dadada;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px; }

.tit-aside-right {
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: solid 1px #000;
  margin-bottom: 10px;
  display: block;
  margin-top: 0px;
  font-weight: 400;
  padding-bottom: 10px; }

.list-pro-right .product-items {
  margin-bottom: 15px; }

.block-news-page {
  margin-bottom: 30px; }
  .block-news-page a {
    display: block; }
    .block-news-page a:hover {
      color: #ed1b24; }
  .block-news-page h4 {
    margin-top: 15px; }

.block-video-page {
  margin-bottom: 30px; }
  .block-video-page h4 {
    margin-top: 15px;
    font-size: 16px; }

.list-ttv-right .block-news-page {
  margin-bottom: 20px; }

.list-ttv-right .block-video-page {
  margin-bottom: 20px; }

.iframe-video iframe {
  width: 100%; }

.phone-lh img {
  margin-right: 7px; }

.f-contact .text {
  width: 120px; }
  .f-contact .text ~ p {
    width: calc(100% - 120px); }

.btn-gui {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  background: #293744;
  border: 0;
  position: relative;
  top: 0;
  vertical-align: top;
  padding: 6px 20px;
  min-width: 100px;
  border-radius: 4px; }

.btn-lh {
  padding-left: 120px; }

.f-search .stylish-input-group .input-group-addon {
  background: white !important; }

.f-search .stylish-input-group .form-control {
  border-right: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border-color: #ccc; }

.f-search .stylish-input-group button {
  border: 0;
  background: transparent; }

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background: #ed1b24 !important;
  border: none;
  border-radius: 50%;
  height: 50px;
  padding: 0;
  width: 50px;
  z-index: 999; }
  .back-to-top span {
    position: relative;
    top: 15px; }

.at4-share {
  display: none !important; }

.at-share-dock-outer {
  display: none !important; }

.bang-giohang table {
  width: 100%; }
  .bang-giohang table tr td {
    border: 1px solid #cacaca;
    padding: 10px; }
  .bang-giohang table tr th {
    border: 1px solid #cacaca;
    padding: 10px;
    text-transform: uppercase;
    background: #f3f3f3; }

.img-if-cart {
  width: 80px;
  margin-right: 20px;
  height: 80px;
  padding: 2px;
  border: 1px solid #cacaca; }
  .img-if-cart img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }

.if-cart {
  width: calc(100% - 100px); }

.soluong-cart .soluong {
  margin: 0 auto; }

.giatong {
  font-weight: 700;
  margin-left: 30px; }

.total-price {
  border: 1px solid #c3c3c3;
  border-top: 0;
  padding: 20px 10px; }

.pcount span {
  display: none; }

.tit-thanhtoan {
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
  background: #ddd; }

.thongtingiaohang .f-contact .text {
  width: 200px; }
  .thongtingiaohang .f-contact .text ~ p {
    width: calc(100% - 200px); }

.thongtingiaohang .f-contact select {
  width: calc(100% - 200px); }

@media (max-width: 1199px) {
  .show1199 {
    display: block; }
  .hide1199 {
    display: none; }
  .ul-main-menu {
    width: calc(100% - 270px); }
  .top-desgin p {
    margin: 10px 0; } }

@media (max-width: 991px) {
  .show991 {
    display: block; }
  .hide991 {
    display: none; }
  body {
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .langguage {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px 15px;
    margin-left: 10px; }
  .cart-search {
    width: auto; }
    .cart-search a {
      border: none;
      border-radius: 0;
      height: 41px;
      width: 50px;
      border-right: 1px solid #ccc;
      margin: 0; }
  .cart-head span {
    right: 5px;
    top: 5px; }
  .header-bototm {
    padding: 10px 0; }
    .header-bototm .flex-bw {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .bar-mb {
    width: 30px;
    margin-left: 10px;
    text-align: right; }
  .search-mb {
    width: calc(100% - 40px); }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ed1b24;
    overflow-x: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 99999;
    padding: 0; }
    .sidenav .closebtn {
      font-size: 25px;
      display: block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 40px;
      background: #f5821f;
      color: #fff;
      margin: 0 auto;
      text-align: center;
      padding: 5px 0; }
  .menu-mobile {
    padding: 0;
    text-decoration: none;
    color: #818181;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    list-style-type: none !important; }
    .menu-mobile li {
      margin: 0;
      background: unset;
      border: none;
      border-radius: 0;
      -webkit-box-shadow: unset;
              box-shadow: unset;
      border-bottom: 1px solid #ddd; }
    .menu-mobile a {
      padding: 15px 0 15px 20px;
      display: inline-block;
      width: calc(100% - 50px);
      color: #fff;
      font-size: 16px;
      font-weight: 700; }
    .menu-mobile .sub-menu-mb .phelp a:first-child {
      padding: 15px 0 15px 15px;
      width: calc(100% - 50px); }
    .menu-mobile .sub-menu-mb a {
      width: 100%;
      padding: 15px; }
  .hassub-mb .phelp .a-icon {
    position: absolute;
    right: 15px;
    top: calc(50% - 7.5px);
    z-index: 9999;
    text-align: center;
    width: 20px;
    padding: 0; }
  .phelp {
    position: relative; }
    .phelp > a:first-child {
      border-right: 1px solid #ddd; }
  .sub-menu-mb {
    padding: 0;
    list-style-type: none;
    margin: 0; }
    .sub-menu-mb > li {
      border-top: 1px solid #ddd;
      border-bottom: none;
      background: #f5585e; }
      .sub-menu-mb > li:last-child {
        border-bottom: none; }
  .push-left {
    position: relative;
    right: 280px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    left: unset; }
  .header-mobile {
    background: #ed1b24;
    padding: 5px 0; }
  .hassub-mb-2 > .sub-menu-mb > li {
    background: #b34448; }
  .hassub-mb-3 > .sub-menu-mb > li {
    background: #989898; }
  .hassub-mb-4 > .sub-menu-mb > li {
    background: #000; }
  .center-design {
    bottom: 30px; } }

@media (max-width: 767px) {
  .show767 {
    display: block; }
  .hide767 {
    display: none; }
  .cart-search a {
    border: none; }
  .main-dangky .flex-end {
    display: block; }
  .main-dangky .flex {
    display: block; }
  .left-dangky {
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px; }
  .right-dangky {
    margin: 0 auto; }
  .block-design > img {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover; }
  .block-lsht .flex-start {
    display: block; }
  .img-lsht {
    width: 100%;
    margin-right: 0; }
    .img-lsht img {
      height: 55vw; }
  .content-lsht {
    width: 100%; }
  .img-brand {
    text-align: center; }
  .bl-tieuchuan {
    margin-bottom: 30px; }
  .iframe-video iframe {
    height: 400px; }
  .bang-giohang table tr {
    display: block;
    border: 1px solid #c3c3c3;
    border-bottom: 0;
    padding: 10px;
    position: relative; }
    .bang-giohang table tr:first-child {
      border: none;
      padding: 0; }
    .bang-giohang table tr th {
      display: block;
      width: 100%;
      border-bottom: 0; }
    .bang-giohang table tr th.hide767 {
      display: none; }
    .bang-giohang table tr:last-child {
      border-bottom: 1px solid #c3c3c3; }
    .bang-giohang table tr td {
      display: block;
      border: none;
      padding: 0; }
      .bang-giohang table tr td .center {
        text-align: left; }
    .bang-giohang table tr td.hide767 {
      display: none; }
  .soluong-cart .soluong {
    margin: 10px 0; }
  .remove-sp {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9; }
  .price-cart {
    color: #ed1b24;
    font-weight: 700;
    font-size: 17px; }
  .pcount {
    margin: 10px 0; }
    .pcount span {
      display: inline-block;
      margin-right: 5px; } }

@media (max-width: 480px) {
  .show480 {
    display: block; }
  .hide480 {
    display: none; }
  .fwmb {
    width: 100%; }
  .right-dangky {
    width: 100%; }
  .tab-sanpham .nav-tabs > li > a {
    padding: 0 15px;
    font-size: 16px; }
  .tab-sanpham .nav-tabs > li:first-child > a {
    padding-left: 0; }
  .tab-sanpham .nav-tabs > li:last-child > a {
    padding-right: 0; }
  .tab-content .row .col-xs-6:nth-child(odd) {
    padding-right: 7px; }
  .tab-content .row .col-xs-6:nth-child(even) {
    padding-left: 7px; }
  .list-pro-right .row .col-xs-6:nth-child(odd) {
    padding-right: 7px; }
  .list-pro-right .row .col-xs-6:nth-child(even) {
    padding-left: 7px; }
  .buy-now {
    font-size: 13px; }
  .top-desgin p {
    margin: 10px 0;
    font-size: 16px;
    padding: 0 5px; }
  .center-design {
    bottom: 20px; }
    .center-design a {
      padding: 6px 15px; }
  .text-camket p {
    font-size: 13px; }
  .item-camket {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .block-add {
    border: none;
    margin-bottom: 10px; }
  .list-all-pro .col-xs-6:nth-child(odd) {
    padding-right: 7px; }
  .list-all-pro .col-xs-6:nth-child(even) {
    padding-left: 7px; }
  .iframe-video iframe {
    height: 300px; }
  .f-contact {
    display: block; }
    .f-contact .text {
      width: 100%;
      margin-bottom: 10px; }
      .f-contact .text ~ {
        width: 100%; }
    .f-contact input {
      width: 100%; }
    .f-contact textarea {
      width: 100%; }
    .f-contact select {
      width: 100%; }
  .thongtingiaohang .f-contact .text {
    width: 100%; }
  .thongtingiaohang .f-contact input {
    width: 100%; }
  .thongtingiaohang .f-contact textarea {
    width: 100%; }
  .thongtingiaohang .f-contact select {
    width: 100%; } }
/*# sourceMappingURL=style.css.map */